* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
}

body {
    color: white;
    background: black;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo {
    position: relative;
    font-size: 25px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;


}


.navbar a {
    display: inline-block;
    font-size: 25px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
    font-family: cursive;

}

.navbar a:hover {
    color: red;
    font-weight: 600;



}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(./prof2.png)no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;

}

.logo {
    color: red;
    font-size: 30px;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.logo:hover {
    color: white;


}

.home-content {
    max-width: 600px;
    animation: floatImageRight 4s ease-in-out infinite;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;

}

.home-content h3 span {
    color: cyan;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    color: aquamarine;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.logo {
    margin-left: -100px;
    font-size: 40px;

}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.header {
    background: black;
    box-shadow: 0 0 0 red,
        0 0 50px red;
}



.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;

}

.about-img img {
     
    max-width: 630px;
    height: auto;
    width: 70%;
    border-radius: 100px;
    margin-top: 40px;
    animation: floatImage 4s ease-in-out infinite;

}

.about-img img:hover {
    animation: pulse 1s;
}

.about-text h2 {
    font-size: 60px;
    margin-top:-150px;
    margin-left: -152px;


}

.about-text h2 span {
    color: aqua;
    font-family: cursive;

}

.about-text p {
    margin-left: -150px;
    margin-right: 40px;

    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

@keyframes floatImageRight {
    0% {
        transform: translateX(0);

    }

    50% {
        transform: translateX(-2.0rem);
    }
}

.about-text {
    margin-top: 12rem;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);

    }

    50% {
        transform: translateY(-2.0rem);
    }
}

.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
    padding-top: 30px;

}

.sub-title span {
    color: cyan;
    font-family: cursive;
}

section {
    display: flex;
    flex-wrap: wrap;
}

.container1 {
    width: 600px;
    height: 500px;
    padding: 75px 90px;

}

.heading1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-top: -20%;
    margin-left: 40%;


}

button {
    background-color: aqua;
    margin: 2px solid black;
    padding: 20px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    animation: zoomIn 1s forwards;



}

button:hover {
    color: red;
    background-color: #000;
    box-shadow: 0 0 0 cyan,
        0 0 50px cyan;
    padding: 30px;
    border-radius: 50px;
    font-family: cursive;


}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.heading {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;

}

.bar {
    font-size: 40px 0;
}

.Technical-bars .bar {
    margin: 40px 0;


}

.Technical-bars .bar:first-child {
    margin-top: 0;

}

.Technical-bars .bar:last-child {
    margin-bottom: 0;

}

.Technical-bars .bar .info {
    margin-bottom: 5px;

}

.Technical-bars .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear;


}

.Technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: white;
    transform: scaleX(1);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

.Technical-bars .bar .progress-line span {
    height: 100%;
    background-color: cyan;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s cubic-bezier(1, 0, 0.5.1) forwards;
    transform: scaleX(1);
    transform-origin: left;
}

.progress-line.html span {
    width: 90%;

}

.progress-line.css span {
    width: 80%
}

.progress-line.javascript span {
    width: 60%;
}

.progress-line.java span {
    width: 80%;
}

.progress-line.python span {
    width: 60%;
}

.progress-line.github span {
    width: 90%;
}

.progress-line.flutter span {
    width: 30%;
}

.progress-line span::after {
    position: absolute;
    padding: 1px 8px;
    background-color: white;
    color: black;
    font-weight: bolder;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 1;

}

.progress-line.html span::after {
    content: "90%"
}

.progress-line.css span::after {
    content: "80%"
}

.progress-line.javascript span::after {
    content: "60%"
}

.progress-line.java span::after {
    content: "80%"
}

.progress-line.python span::after {
    content: "60%"
}

.progress-line.github span::after {
    content: "90%"
}

.progress-line.flutter span::after {
    content: "30%";
    margin-left: 100%;
}

.social i {
    color: #e5e5e5;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.5s;
    margin-top: 10px;
    margin-left: 10px;
}

.social i:hover {
    color: #007ced;
    transform: rotate(360deg);
}

.radial-bars {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 20%;

}

.radial-bars .radial-bar {
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}

.radial-bars .radial-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}

.radial-bars .radial-bar .progress-bar {
    stroke-width: 10;
    stroke: white;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar {
    100% {
        stroke-dashoffset: -1;
    }
}

.path {
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.path-1 {
    animation: animate-path1 1s 1s linear forwards;
}

.path-2 {
    animation: animate-path2 1s 1s linear forwards;
}

.path-3 {
    animation: animate-path3 1s 1s linear forwards;
}

.path-4 {
    animation: animate-path4 1s 1s linear forwards;
}


@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 80;
    }
}

@keyframes animate-path2 {
    100% {
        stroke-dashoffset: 50;
    }
}

@keyframes animate-path3 {
    100% {
        stroke-dashoffset: 180;
    }
}

@keyframes animate-path4 {
    100% {
        stroke-dashoffset: 75;
    }
}

.radial-bar .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
    color: azure;

}

.radial-bar .text {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;

}

@keyframes showText {
    100% {
        opacity: 1;
    }
}


h1.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
    padding-top: 30px;
    animation: fadeInDown 1s ease-in-out;
}

.container {
    width: 100%;
    padding: 35px 10%;
}

main.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.col header.title {
    font-family: Helvetica;
    color: orangered;
    padding: 0px 0px 20px 30px;
    margin-left: 30%;
}

.col .contents {
    padding: 0px 30px;
    border-left: 2px solid #bababa;
    margin-left: 30%;
}

.col .contents .box {
    position: relative;
    padding: 20px;
    border: 1px solid #eaeaea;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
    background-color: #1e1e1e;
    animation: slideIn 1s ease-in-out;
}

.col .contents .box:hover {
    box-shadow: 0px 3px 12px 0px #ccc;
    border: 1px solid transparent;
    animation: pulse 1s infinite;

}

.col .contents .box::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: 0;
    background-color: cyan;
    border: 2px solid white;
    animation: bounce 1.5s infinite;
}

.box h4 {
    color: cyan;
}

.box h3,
.box p {
    color: white;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        .top transform: scale(1);
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

.offer {
    padding: -50%;
    font-size: 10px;

}

.offer:hover {
    padding: 20px;
}




.main-text {
    padding-top: 130px;
    margin-top: -300px;

}

.main-text h2 {
    font-size: 60px;
    line-height: 1;
    text-align: center;
}

.main-text h2 span {

    color: #0ef;

}

.portfolio-content {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 1.5rem;
    margin-top: 5rem;
    padding: 70px;
    width: 120%;
    margin-left: -100px;

}

.row {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.row img {
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #0ef);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;

}

.layer h5 {
    color: red;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p {
    color: black;
    font-size: 1.1rem;
    line-height: 1.8;
    font-weight: 600;
}

.layer i {
    color: #ff004f;
    margin-top: 20px;
    font-size: 20px;
    background: black;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

.row:hover img {
    transform: scale(1.1);
}

.row:hover .layer {
    height: 100%;
}

.contact {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 10px;
    text-decoration: none;
}

.contact-text h2 {
    font-size: 90px;
    line-height: 1;
    text-align: center;
}

.contact-text h2 span {

    color: #0ef;

}

.contact-text h4 {
    margin: 15px 0;
    color: rgb(228, 228, 228);
    font-size: 20px;
    font-weight: 600;
}

.contact-text h2 {
    font-size: 30px;
}

.contact-text p {
    color: rgb(177, 177, 177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.contact-list {
    margin-bottom: 3rem;



}

.contact-list li {
    margin-bottom: 10px;
    display: block;
}

.contact-list i {
    display: inline-block;
    color: cyan;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;


}

.contact-list li a:hover {
    transform: scale(1.01) translateY(-5px);
    color: aqua;
}

.contact-icons i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}


.contact-icons i:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.contact-form form {
    position: relative;
}

.contact-form form input,
form textarea {
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.contact-form textarea {
    resize: none;
    height: 220px;
}

.contact-form form .send {
    display: inline-block;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #081b29;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 30px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
        0 0 25px #0ef;
}

.contact-form form .send:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;
}

.last-text p {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #007ced;
    font-weight: 300;
    margin-top: 70px;
}

.top {
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;

}

.top i {
    color: #000000;
    background: red;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}

.top i:hover {
    color: white;
    background: black;


}







@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes animationProgress {
    from {
        width: 0;
    }
}

html{
    scroll-behavior: smooth;
}